/*
Copyright 2017-2020 Siemens AG

Permission is hereby granted, free of charge, to any person obtaining a
copy of this software and associated documentation files (the
"Software"), to deal in the Software without restriction, including without
limitation the rights to use, copy, modify, merge, publish, distribute,
sublicense, and/or sell copies of the Software, and to permit persons to whom the
Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be
included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT
SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR
OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE,
ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
DEALINGS IN THE SOFTWARE.

Author(s): Pascal Eckmann, Junes Najah, Michael Kraus, Thomas Riedmaier
*/

.dl-horizontal dt {
    text-align: left;
}

.jumbotron {
    margin: 20px 0px 0px 0px;
    background-image: url(/static/images/ci2.jpeg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    text-shadow: 0 0 1px #fff,
    0 0 2px #fff,
    0 0 3px #fff,
    0 0 4px #fff,
    0 0 7px #fff,
    0 0 8px #fff,
    0 0 10px #fff,
    0 0 15px #fff;
}

#infobox1 {
    visibility: hidden;
}

#infobox2 {
    visibility: hidden;
}

.hasTooltip span {
    display: none;
    color: #000;
    text-decoration: none;
    padding: 3px;
}

.hasTooltip:hover span {
    display: block;
    position: absolute;
    background-color: #FFF;
    border: 1px solid #CCC;
    margin: 2px 10px;
}

.embed-container {
    padding-bottom: 56.25%; /* ratio 16x9 */
    height: 0; 
    overflow: hidden; 
    width: 100%;
    height: auto;
}

.embed-container iframe {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

.heading {
    margin-bottom:10px; border-radius:10%
}

.archive-form {
    float: left;
    margin-right: 5px;
}

.archive-form-2 {
    float: right;
    margin-right: 20px;
}

.instance-run-success {
    text-align: left;
    width: 15%;
}

.instance-run-error {
    text-align: left; 
    width: 15%; 
    color: red;
    font-weight: bold;
}

.systems-lm-text {
    display: inline;
    font-size: 12px;
    font-weight: bold;
    color: #3795b1;
}

.update-system-loc {
    text-align: left; 
    width: 23%;
}

.remove {
    text-align: left; 
    min-width: 30px;
    text-align: right;
}

.kill {
    color: black; 
    width:250px;
}

.add-or-rename-btn {
    border: 0;
    background-color: inherit;
}

.btn-desgin {
    border: 0; 
    background-color: white;
}

.analysis-btn {
    color: black; 
    width:290px;
}

.select-width {
    width: 90px;
}

/* ratio 4x3 */
.embed-container.ratio4x3 {
    padding-bottom: 75%;
}

.odd {
    background-color: green;
}

.even {
    background-color: red;
}

.icon-inactive {
    color: #98989b;
}

#cy {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
}

#icontainer {
    height: 1000px;
}

#icontainer>iframe {
    border: 0px;
}

.btn-design {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
    border-radius: 5px;
}

.error-msg {
    display: none; 
    margin-top: 5px; 
    margin-bottom: 5px;
}

.fluffi-img {
    margin-bottom:10px; 
    border-radius:10%;
}

/* Population Graph */

.label-boxes {
    font-family:sans-serif; 
    font-weight: bold; 
    font-size: 14px; 
    float:right
}

.label {
    color: white; 
    padding: 8px;
}

.population-color {
    background-color: #143484
}

.minimized-color {
    background-color: grey
}

.footprint-color {
    background-color: orange
}

.alert-bg {
    border-radius: 6px;
    background-color: #ff5f52 !important;
}

.alert-bg-table {
    border-radius: 6px;
    padding: 5px;
    background-color: #ff5f52 !important;
}

.alert-bg-table-dashboard {
    border-radius: 6px;
    padding: 5px;
    background-color: #b0180b !important;
}

.modal-button {
    margin: 10px 0px 0px auto;
    display: block;
}

.modal-form {
    width: 80%;
    margin-bottom: 15px;
}

.modal-badge {
    background-color: #31b0d5;
    font-size: 1.3em;
}

.system-view-lm-box {
    background-color: #a1cccc;
    padding: 1px 10px;
    border-radius: 5px;
}

.system-view-lm-box>.table>thead>tr>th {
    border-bottom: 2px solid #fff;
}

.create-project-code {
    background-color: #333;
    padding: 6px;
    border: solid 1px #222;
    border-radius: 5px;
    color: #fff;
    font-family: monospace;
}

.create-project-monospace {
    font-family: monospace;
}

.create-project-option {
    padding: 8px;
    border-radius: 5px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle !important;
}

.basic-bock-box-visible {
    visibility: hidden;
    height: 0px;
    width: 0px;
    margin: 0;
    padding: 0;
}

#download_error,#error {
    background-color: #ffa500;
    padding: 20px;
    font-size: 20px;
    border-radius: 6px;
    margin: 20px 0;
}

#process_info {
    background-color: #dddd00;
    padding: 20px;
    font-size: 20px;
    border-radius: 6px;
    margin-bottom: 20px;
}

.progress-hidden {
    visibility: hidden;
    height: 0px;
    width: 0px;
    margin: 0;
    padding: 0 !important;
}

#status_link_btn {
    margin-top: 15px;
}

.pages_box {
    text-align: center;
    margin-bottom: 20px;
}

.pages {
    display: inline-block;
}

.single_page {
    display: inline-block;
    margin: 0 4px;
    width: 26px;
    height: 26px;
    text-align: center;
    padding: 3px;
    border-radius: 4px;
}

.single_page_active {
    background-color: #133552;
    color: #ffffff;
}

.single_page_inactive {
    background-color: #337ab7;
    color: #ffffff;
}

.single_page_inactive:hover {
    background-color: #286090;
    cursor: pointer;
}

.tc_view_center {
    text-align: center;
}

.tc_view_center_child {
    display: inline-block;
}

#addTestcase {
    width: 100%;
    background: #eee;
    padding: 5px;
    border-radius: 5px;
}

.stickyBtn {
    position: fixed; 
    bottom: 50px; 
    right: 50px;
}

.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

.modal-loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    left: 50%;
    position: fixed;
}

.centered-big-loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: fixed;
    left: 50%;
    top: 50%;
}

.targetModuleMargin {
    margin-bottom: 30px; 
    margin-top: 20px;
}

.initialLoading {
    margin: 50px 0;
}

#hexTable {
    font-family: monospace;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    display: block;
}

#hexTable tbody {
    display: block;
    max-height: 450px;
    overflow-y: scroll;
    scrollbar-width: thin;
    border: solid 1px #ddd;
}

#hexTable thead {
    display: table;
    width: calc( 100% - 6px);
    table-layout:fixed;
}

#hexTable tbody tr {
    display: table;
    width: 100%;
    table-layout:fixed;
}

#hexTable td, th {
    border: 0px;
}

#hexTable tr:nth-child(even) {
    background-color: #f1f1f1;
}

#hexTable .by {
    background-color: #337ab7;
    color: #fff;
}

#hexTable .bz {
    background-color: #1761a2;
    color: #fff;
    border-bottom: solid 1px #fff;
}

#hexTable tbody .br {
    border-right: solid 1px #777;
}

#hexTable thead .br {
    border-right: solid 1px #fff;
}

#hexTable .bx {
    background: #ff9966;
    border-right: solid 1px #777;
}

#hexTable tbody .bp {
    border-left: solid 1px #777;
}

#hexTable thead .bp {
    border-left: solid 1px #fff;
}

td[class*='hovEqual'] {
    background: rgba(0, 200, 0, 0.2) !important;
}

td[class*='hovEqual'].hovered {
    background: rgba(0, 200, 0, 0.6) !important;
}

td[class*='hovReplace'] {
    background: rgba(215, 160, 15, 0.2) !important;
}

td[class*='hovReplace'].hovered {
    background: rgba(215, 160, 15, 0.6) !important;
}

td[class*='hovDelete'] {
    background: rgba(215, 25, 15, 0.2) !important;
}

td[class*='hovDelete'].hovered {
    background: rgba(215, 25, 15, 0.6) !important;
}

td[class*='hovInsert'] {
    background: rgba(15, 160, 215, 0.2) !important;
}

td[class*='hovInsert'].hovered {
    background: rgba(15, 160, 215, 0.6) !important;
}

#compare {
    display: block;
    margin-top: 10px;
    margin-left: auto;
}

/* Safari */
@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
