<!--
Copyright 2017-2019 Siemens AG

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

Author(s): Junes Najah, Thomas Riedmaier, Abian Blome
-->

{%- extends "bootstrap/base.html" %}
{% block title %}FLUFFI{% endblock %}

{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
{{super()}}
{{fixes.ie8()}}

<link href="/static/css/fluffi.css" rel="stylesheet" />
<link href="/static/images/favicon.ico" rel="shortcut icon">
<script src="/static/3rdParty/jquery/jquery-2.1.4.js"></script>
<script src="/static/3rdParty/socket.io-client/socket.io.slim.js"></script>

{% endblock %}

{% block navbar %}
{{nav.frontend_top.render()}}
{% endblock %}


{% macro flashMessages() %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
{% if category == "error" %}

<div class="alert alert-warning">
    {{ message }}
</div>

{% elif category == "success" %}

<div class="alert alert-info">
    <strong>
        Success!
    </strong>
    {{ message }}
</div>

{% elif category == "warning" %}

<div class="alert alert-danger">
    {{ message }}
</div>

{% elif category == "addLocation" %}

<div class="alert alert-danger">
    <h4 class="alert-heading">Missing location!</h4>
    <p>{{ message }}</p>
    <br>
    <div class="mb-0 text-right"><a href="/locations/createLocation" type="button" class="btn btn-danger">Add location</a></div>
</div>

{% elif category == "syncSystems" %}

<div class="alert alert-danger">
    <h4 class="alert-heading">Sync systems failed!</h4>
    <p>{{ message }}</p>
    <br>
    <div class="mb-0 text-right"><a href="/syncSystems" type="button" class="btn btn-danger">Sync systems</a></div>
</div>

{% endif %}
{% endfor %}
{% endif %}
{% endwith %}
{% endmacro %}
