<!--
Copyright 2017-2019 Siemens AG

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

Author(s): Junes Najah, Michael Kraus, Thomas Riedmaier, Pascal Eckmann
-->

<!DOCTYPE html>
<html>
<head>
    <title>Fluffi Dashboard Trigger</title>
    <meta charset="UTF-8">
    <link href="/static/css/fluffi.css" rel="stylesheet"/>
    <link href="/static/css/dashboard.css" rel="stylesheet"/>
    <link href="/static/3rdParty/bootswatch/bootstrap.min.css" rel="stylesheet"/>
    <script src="/static/3rdParty/jquery/jquery-2.1.4.js"></script>
    <script src="/static/3rdParty/socket.io-client/socket.io.slim.js"></script>
</head>
<body>
{% block content %}

<script language="JavaScript"> 
  /*** constants  ***/
  //needs to be adjusted if columns are added or removed
  var TIME_RANGE_CELL_INDEX = 6;
  var states = ['now-15m', 'now-24h', 'now-7d'];
  var timeRanges = {'now-15m': 'Last 15 min', 'now-24h': 'Last Day', 'now-7d': 'Last Week'};
  var LOADING_TIME = 50000; 
  var SHOW_TIME = 10000 + LOADING_TIME; 
  var INTERVAL_TIME = SHOW_TIME * states.length;
  var NOW = 'now'; 
  
  /*** global variables ***/
  var reloadCounter = 1;
  var rowIndex = 1;
  var socket, table, tableSize, previousRow, row, projectName;

  $(function () {    
    socket = io.connect('http://dashsync.fluffi:4000'  );
    // verify our websocket connection is established
    socket.on('connect', function() {
        console.log('Websocket connected!');
    });

    //run after SHOW_TIME to keep time for grafana 
    setTimeout(function(){
      Run()
    }, SHOW_TIME);    
  });

  function Run(){    
    //reload every minute until projects exist
    tableSize = $('#fuzzjobTable tbody tr').length;
    if(tableSize == 0){
      //still show grafana monitoring if there are no active fuzzjobs
      socket.emit('syncProject', {send: 'load', project: 'grafana1', time: 'noTime', time2: 'noTime'}); 
      socket.emit('syncProject', {send: 'show', project: 'grafana1', time: 'noTime', time2: 'noTime'});
      socket.emit('syncProject', {send: 'load', project: 'grafana2', time: 'noTime', time2: 'noTime'}); 
      socket.emit('syncProject', {send: 'show', project: 'grafana2', time: 'noTime', time2: 'noTime'});
      setTimeout(function(){ location.reload(true); }, 60000);
    } else {
      table = document.getElementById("fuzzjobTable");
      //first init 
      loadAndShowProj();

      setInterval(function(){                    
        loadAndShowProj();
        reloadCounter++;
      }, INTERVAL_TIME);
    }
  }
 
  function loadAndShowProj(){
    //if tableSize is 1 we need to add one interval to show one project and then switch to grafana
    tableSize = tableSize == 1 ? tableSize+1 : tableSize;
    console.log("reloadCounter", reloadCounter);
    console.log("tableSize", tableSize);
    if(reloadCounter == tableSize){
      //load and show grafana 1
      console.log("send load grafana 1");
      socket.emit('syncProject', {send: 'load', project: 'grafana1', time: 'noTime', time2: 'noTime'});   
      setTimeout(function(){    
        console.log("send show grafana 1");
        socket.emit('syncProject', {send: 'show', project: 'grafana1', time: 'noTime', time2: 'noTime'});
      }, LOADING_TIME);   

      //load and show grafana 2
      console.log("send load grafana 2");
      socket.emit('syncProject', {send: 'load', project: 'grafana2', time: 'noTime', time2: 'noTime'});   
      setTimeout(function(){    
        console.log("send show grafana 2");
        socket.emit('syncProject', {send: 'show', project: 'grafana2', time: 'noTime', time2: 'noTime'});
        location.reload(true);
      }, LOADING_TIME); 

    } else {
      rowIndex = rowIndex > (table.rows.length-1) ? 1 : rowIndex;             
      previousRow = getPreviousRow();
      row = table.rows[rowIndex];          
      projectName = row.cells[0].firstChild.innerHTML;
      
      if(row && projectName){
        emitStatesForProj(projectName);
      } else {
        console.log("Error while getting the project name!");
      }        
      rowIndex++;
    }          
  }

  function getPreviousRow(){
    if(rowIndex == 1)
      return table.rows[table.rows.length-1];
    else if(rowIndex > 1)
      return table.rows[rowIndex-1];
    else
      return null;
  }

  function setRowActive(){
    // first set previous row inactive if it exists
    if(previousRow){
      previousRow.cells[TIME_RANGE_CELL_INDEX].innerHTML="";
      previousRow.style.backgroundColor = "#222";
    }
    //change current row color to active
    row.style.backgroundColor = "#3498DB";
  }
 
  function emitStatesForProj(myProjName){            
    //init
    console.log("send load", myProjName, states[0]); 
    socket.emit('syncProject', {send: 'load', project: myProjName, time: states[0], time2: NOW});

    setTimeout(function(){    
      console.log("send show", myProjName, states[0]);  
      socket.emit('syncProject', {send: 'show', project: myProjName, time: states[0], time2: NOW});
      setRowActive();
      changeTimeRange(timeRanges[states[0]]);  
    }, LOADING_TIME);

    states.forEach(function(state, i){
      if(i != 0){
        setTimeout(function(){
          console.log("send load", myProjName, state); 
          socket.emit('syncProject', {send: 'load', project: myProjName, time: state, time2: NOW}); 
          setTimeout(function(){
            console.log("send show", myProjName, state); 
            socket.emit('syncProject', {send: 'show', project: myProjName, time: state, time2: NOW}); 
            changeTimeRange(timeRanges[state]);
          }, LOADING_TIME);
        }, SHOW_TIME*i);
      }      
    });
  }

  function changeTimeRange(timeRange){
    row.cells[TIME_RANGE_CELL_INDEX].innerHTML="";
    row.cells[TIME_RANGE_CELL_INDEX].innerHTML=timeRange;
  }




</script>

<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3 fluffi-img" style="color:black;"><img alt="" height="60"
                                                            src="/static/images/friendly_fluffi_md.jpg"
                                                            width="60"> FLUFFI</h1>
            <p style="color:black;">FLUFFI - A distributed evolutionary binary fuzzer for pentesters.</p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">

            <h2>FuzzJobs</h2>
            <p>
            <table class="table" id="fuzzjobTable">
                <thead>
                <tr>
                    <th scope="col"><u>Name</u></th>
                    <th scope="col" style="text-align: center;"><u>Population</u></th>
                    <th scope="col" style="text-align: center;"><u>Exec. Testcases</u></th>
                    <th scope="col" style="text-align: center;"><u>Unique Crashes</u></th>
                    <th scope="col" style="text-align: center;"><u>Unique Access Violations</u></th>
                    <th scope="col" style="text-align: center;"><u>Managed Instances</u></th>
                    <th scope="col" style="text-align: center;"><u>Time Range</u></th>
                </tr>
                </thead>
                <tbody>
                {% for project in fuzzjobs %}
                <tr>
§§                    <th scope="row"><a class="{{'alert-bg-table-dashboard' if project.checkRating }}" style="color:#ffffff">{{ project.name }}</a></th>
                    <td style="text-align: center;">{{ project.numPopulation }}</td>
                    <td style="text-align: center;">{{ project.testcases }}</td>
                    <td style="text-align: center;">{{ project.numUniqueCrash }}</td>
                    <td style="text-align: center;">{{ project.numUniqueAccessViolation }}</td>
                    <td style="text-align: center;">{{ project.numMI }}</td>
                    <td style="text-align: center;"></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            </p>
        </div>
        <br>
        <hr>
        <div class="row">
            <p>Inactive FuzzJobs: </p>
            <p>
            <table class="table" id="inactivefuzzjobTable">
                <thead>
                <tr>
                    <th scope="col"><u>Name</u></th>
                    <th scope="col" style="text-align: center;"><u>Population</u></th>
                    <th scope="col" style="text-align: center;"><u>Exec. Testcases</u></th>
                    <th scope="col" style="text-align: center;"><u>Managed Instances</u></th>
                </tr>
                </thead>
                <tbody>
                {% for project in inactivefuzzjobs %}
                <tr>
                    <th scope="row"><font color="#98989b">{{ project.name }}</font></th>
                    <td style="text-align: center;"><font color="#98989b">{{ project.numPopulation }}</font></td>
                    <td style="text-align: center;"><font color="#98989b">{{ project.testcases }}</font></td>
                    <td style="text-align: center;"><font color="#98989b">-</font></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            </p>
        </div>
        <hr>

    </div> <!-- /container -->

</main>

<footer class="container">
    <p>&copy; {{ footer }}</p>
</footer>

{% endblock %}

</body>
</html>
