<!--
Copyright 2017-2019 Siemens AG

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

Author(s): Junes Najah, Thomas Riedmaier
-->

{% extends "base.html" %}
{% block content %}

<script>
$( document ).ready(function() {
    check_progress();
});

function check_progress() {
    function worker() {
        var task_id = $('#thread_id').text();
        if(task_id < 0) {
            $('.progress').addClass('progress-hidden');
            $('#download_button').addClass('progress-hidden');
            $('#download_error').removeClass('progress-hidden');
        }else{
            $.get('/progress/' + task_id, function(progress) {
                if(progress == -1){
                    $('.progress-bar').css('width', '100%').attr('aria-valuenow', '100').text('Ready!');
                    $('#download_button').removeClass('disabled').attr('aria-disabled', 'false');
                }else{
                    var max_val = $('.progress-bar').attr('aria-valuemax')
                    var percentage = (progress*100/max_val).toFixed(1)
                    $('.progress-bar').css('width', percentage+'%').attr('aria-valuenow', progress).text(percentage+'%');
                    setTimeout(worker, 500);
                }
            });
        }
    }
    worker();
}
</script>

<div class="container">
    <h1>Create Archive</h1>
    {{ flashMessages() }}
</div>
<hr>

<div class="container">
    <h3>{{ nice_name }}</h3>
    <div id="download_error" class="progress-hidden">Error creating the archive: Only one download can be started at a time.</div>
    <div id="thread_id" class="progress-hidden">{{ thread_id }}</div>
    <div class="progress">
        <div class="progress-bar" role="progressbar" id="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="{{ max_val }}"></div>
    </div>
    <a href="{{ url_for('downloadArchive', archive=download)}}" class="btn btn-primary btn-lg disabled" id="download_button" role="button" aria-disabled="true">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Download {{ nice_name }}
    </a>
</div>

{% endblock %}

