<!--
Copyright 2017-2019 Siemens AG

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

Author(s): Junes Najah, Abian Blome, Thomas Riedmaier, Pascal Eckmann, Michael Kraus
-->

{% extends "base.html" %}

§§{% block scripts  %}
§§<script src="{{ url_for('static', filename = 'javascript/inputValidator.js') }}" type="text/javascript"></script>
§§{{super()}}
§§{% endblock %}
§§
{% block content %}

<div class="container">
    <h1>Fuzzjobs</h1>
    <div>
§§        <a href="/projects/createProject"><button class="btn btn-default">Create Fuzzjob</button></a>
§§        <a href="/projects/createCustomProject"><button class="btn btn-default">Register Fuzzjob</button></a>
    </div>
</div>
§§<div class="container">
§§    {{ flashMessages() }}
§§</div>
§§<hr>

<div class="jumbotron">
    <div class="container"></div>
</div>

§§<br>

<div class="container">
    <table class="table">
        <thead>
§§        <tr>
§§            <th>Name</th>
§§            <th>Status</th>
§§            <th>Testcases</th>
§§            <th>Num Population</th>
§§            <th>Hangs</th>
§§            <th>Access violations</th>
§§            <th>Exceptions</th>
§§            <th>No response</th>
§§            <th>Operations</th>
§§        </tr>
        </thead>
§§        <tbody>
§§        {% for project in projects %}
§§        <tr>
§§            <td><a class="{{'alert-bg-table' if project.checkRating }}" href="/projects/view/{{ project.id }}">{{ project.name[:30] }}</a></td>
§§            <td>{{ project.status }}</td>
§§            <td>{{ project.testcases }}</td>
§§            <td>{{ project.numPopulation }}</td>
§§            <td>{{ project.numHang }}</td>
§§            <td>{{ project.numAccessViolation }}</td>
§§            <td>{{ project.numException }}</td>
§§            <td>{{ project.numNoResponse }}</td>
§§            <td>
§§                <form action="{{ url_for('archiveProject', projId=project.id) }}" method="POST" class="archive-form">
§§                    <input class="btn btn-default" id="{{ project.name }}" type="submit" value="archive"/>
§§                </form>
§§            </td>
§§        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

