<!--
Copyright 2017-2019 Siemens AG

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

Author(s): Pascal Eckmann, Junes Najah, Thomas Riedmaier
-->

{% extends "base.html" %}
{% block title %}FLUFFI - Fuzzjobs - {{ data.project.name }} - {{ data.name }}{% endblock %}

{% block scripts  %}
<script src="{{ url_for('static', filename = 'javascript/tooltip.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename = 'javascript/renamer.js') }}" type="text/javascript"></script>
{{super()}}
{% endblock %}

{% block content %}

<script>
function deleteTestcase(testcaseId, tcType) {
    var deleteUrl = "/projects/" + "{{ data.project.id }}" + "/delTestcase/" + testcaseId + "/" + tcType;
    window.location.replace(deleteUrl);
}

$( document ).ready(function() {
    addPages({{actual_page}}, {{page_count}});
});

function addSinglePage(i, actualPage){
    var link = ""
    var singlePage = document.createElement('div');
    $(singlePage).addClass('single_page');
    $(singlePage).html(i);
    if(i == actualPage){
        $(singlePage).addClass('single_page_active');
    }else if(i == "..."){
        $(singlePage).addClass('single_page_dots');
    }else{
        link = "{{base_link}}" + i.toString()
        $(singlePage).addClass('single_page_inactive');
        $(singlePage).addClass("link_" + i.toString());
    }
    $(".pages").append(singlePage);
    if($(".single_page").hasClass("link_" + i.toString())){
        $(".link_" + i.toString()).wrap('<a href="' + link + '"></a>');
    }
}

function addPages(actualPage, pageCount){
    var margin = 3;
    maxPages = actualPage + margin;
    if(maxPages > pageCount){
        maxPages = pageCount;
    }
    if(actualPage >= margin + 3){
        addSinglePage(1, actualPage);
        addSinglePage("...", actualPage);

        for(var i = actualPage - margin; i <= maxPages; i++) {
            addSinglePage(i, actualPage);
        }
    }else{
        for(var i = 1; i <= maxPages; i++) {
            addSinglePage(i, actualPage);
        }
    }
    if(actualPage < pageCount - margin){
        if(actualPage != pageCount - (margin + 1)){
            addSinglePage("...", actualPage);
        }
        addSinglePage(pageCount, actualPage);
    }
}
</script>

<div class="container">
    <h1><a href="/projects/view/{{data.project.id}}">{{ data.name }} details: {{ data.project.name }}</a></h1>
</div>
{{ flashMessages() }}
<hr>

<div class="container">
    <div class="row">
        <div class="col-md-6 tc_view_center">
            {% if data.name == "Population" %}
            <form action="{{ url_for('addTestcase', projId=data.project.id) }}" enctype="multipart/form-data"
                  method="POST">
                <div class="form-group">
                    <input class="form-control-file" id="addTestcase" multiple name="addTestcase" type="file">
                    <input class="btn btn-default" style="margin-top: 10px; float: right;" type="submit" value="Add Testcase(s)"/>
                </div>
            </form>
            {% endif %}
        </div>
        <div class="col-md-6 tc_view_center">
            <a class="btn btn-primary tc_view_center_child" href="{{ url_for(data.downloadName, projId=data.project.id) }}" role="button">Download {{ data.name }}</a>
        </div>
    </div>
    <hr>
    <div class="pages_box">
        <div class="pages"></div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>
                {% if show_occurences %}
                CrashFootprint
                {% else %}
                <div data-placement="left" data-toggle="tooltip"
                     title="To add or update a nice name just click on it, type and press enter">
                    ID / Nice Name
                </div>
                {% endif %}
            </th>
            {% if show_rating %}
            <th>Rating</th>
            {% endif %}
            {% if show_occurences %}
            <th>Occurences</th>
            {% endif %}
            <th>Time Of Insertion</th>
            <th>Operations</th>
        </tr>
        </thead>
        <tbody>
        {% for testcase in data.testcases %}
        <tr>
            <td>{% if testcase.footprint %}
                {{ testcase.footprint }}
                {% else %}
                    {% if testcase.niceName %}
                    <button id="tcBtn{{loop.index}}"
                            onclick="addOrRenameNiceName({{ loop.index }}, {{ data.project.id }}, 'update', '{{ testcase.testcaseID }}', '')"
                            class="btn-desgin">
                        {{ testcase.niceName }}
                    </button>
                    <input class="form-control" id="tcInput{{loop.index}}" style="display: none;" type="text">
                    {% else %}
                    <button id="tcBtnNew{{loop.index}}"
                            onclick="addOrRenameNiceName({{ loop.index }}, {{ data.project.id }}, 'insert', '{{ testcase.testcaseID }}', '')"
                            class="btn-desgin">
                        {{ testcase.id }}
                    </button>
                    <input class="form-control" id="tcInputNew{{loop.index}}" style="display: none;" type="text">
                    {% endif %}
                {% endif %}
            </td>
            {% if show_rating or show_occurences %}
            <td>{{ testcase.rating }}</td>
            {% endif %}
            <td>{{ testcase.timeOfInsertion | default('', True) }}</td>
            <td>
                <button class="btn btn-default btn-desgin" onclick="deleteTestcase('{{ testcase.id }}', '{{ data.redirect }}')"
                        type="button">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <button class="btn btn-default btn-desgin" type="button">
                    <a href="/projects/{{ data.project.id }}/getTestcase/{{ testcase.id }}"><span
                            class="glyphicon glyphicon-download-alt"></span></a>
                </button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>
    <div class="pages_box">
        <div class="pages"></div>
    </div>
</div>

{% endblock %}

