<!--
Copyright 2017-2020 Siemens AG

Permission is hereby granted, free of charge, to any person obtaining a
copy of this software and associated documentation files (the
"Software"), to deal in the Software without restriction, including without
limitation the rights to use, copy, modify, merge, publish, distribute,
sublicense, and/or sell copies of the Software, and to permit persons to whom the
Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be
included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT
SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR
OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE,
ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
DEALINGS IN THE SOFTWARE.

Author(s): Junes Najah, Pascal Eckmann, Abian Blome, Thomas Riedmaier, Michael Kraus
-->

{% extends "base.html" %}
{% block title %}FLUFFI - Fuzzjobs - {{ project.name }}{% endblock %}

{% block scripts  %}
<script src="{{ url_for('static', filename = 'javascript/dynamicForm.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename = 'javascript/modifyViewProject.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename = 'javascript/tooltip.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename = 'javascript/inputValidator.js') }}" type="text/javascript"></script>
{{super()}}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 {{'alert-bg' if project.checkRating }}"><h1>{{ project.name }}</h1></div>
        <div class="col-md-6" style="padding-top:25px">
            <form action="{{ url_for('archiveProject', projId=project.ID) }}" method="POST" class="archive-form-2">
                <input class="confirm btn btn-default" type="submit" value="Archive Project"/>
            </form>
        </div>
    </div>
</div>
<div class="container">
    {{ flashMessages() }}
</div>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>General Information</h2>
            <p>
            <table class="table table-striped">
                <thead>

                </thead>
                <tbody>
                <tr>
                    <th scope="row">Completed Testcases</th>
                    <td style="text-align: center;">{{ project.testcases }}</td>
                </tr>
                <tr>
                    <th scope="row"><a href="/projects/{{ project.ID }}/population/1">Population</a></th>
                    <td style="text-align: center;">{{ project.numPopulation }} / {{ project.numMinimizedPop }}</td>
                </tr>
                <tr>
                    <th scope="row"><a href="/projects/{{ project.ID }}/accessVioTotal/1">Access Violations (Total)</a>
                    </th>
                    <td style="text-align: center;">{{ project.numTotalAccessViolation }}</td>
                </tr>
                <tr>
                    <th scope="row"><a href="/projects/{{ project.ID }}/accessVioUnique">Access Violations (Unique)</a>
                    </th>
                    <td style="text-align: center;">{{ project.numUniqueAccessViolation }}</td>
                </tr>
                <tr>
                    <th scope="row"><a href="/projects/{{ project.ID }}/totalCrashes/1">Crashes (Total)</a></th>
                    <td style="text-align: center;">{{ project.numCrash }}</td>
                </tr>
                <tr>
                    <th scope="row"><a href="/projects/{{ project.ID }}/uniqueCrashes">Crashes (Unique)</a></th>
                    <td style="text-align: center;">{{ project.numUniqueCrash }}</td>
                </tr>
                <tr>
                    <th scope="row"><a href="/projects/{{ project.ID }}/hangs/1">Hangs</a></th>
                    <td style="text-align: center;">{{ project.numHang }}</td>
                </tr>
                <tr>
                    <th scope="row"><a href="/projects/{{ project.ID }}/noResponse/1">No Response</a></th>
                    <td style="text-align: center;">{{ project.numNoResponse }}</td>
                </tr>
                <tr>
                    <th scope="row">Covered Blocks</th>
                    <td style="text-align: center;">{{ project.numBlocks }}</td>
                </tr>
                <tr>
                    <th scope="row">Active LMs</th>
                    <td style="text-align: center;">{{ project.numLM }}</td>
                </tr>
                <tr>
                    <th scope="row">Total CPU Hours</th>
                    <td style="text-align: center;">{{ project.totalCPUHours }}</td>
                </tr>
                {% if project.numLM > 0 %}
                <tr>
                    <th scope="row">Active TRs</th>
                    <td style="text-align: center;">{{ project.numTR }}</td>
                </tr>
                <tr>
                    <th scope="row">Active TEs</th>
                    <td style="text-align: center;">{{ project.numTE }}</td>
                </tr>
                <tr>
                    <th scope="row">Active TGs</th>
                    <td style="text-align: center;">{{ project.numTG }}</td>
                </tr>
                {% endif %}
                </tbody>
            </table>
            </p>
        </div>
        <div class="col-md-8">
            <div class="jumbotron">
                <div class="container">
                    <h2 class="display-3" style="color:black;">Analysis</h2>
                    <div class="col-md-6">
                        <p><a class="btn btn-primary btn-lg analysis-btn" href="/projects/{{ project.ID }}/violations" role="button">
                            Access Violations and Crashes &raquo;</a>
                        </p>
                        <p><a class="btn btn-primary btn-lg analysis-btn" href="/projects/{{ project.ID }}/download" role="button">
                            Download Testcase Set &raquo;</a>
                        </p>
                        <p><a class="btn btn-primary btn-lg analysis-btn" href="/static/viewPopulationGraph.html?#{{ project.ID }}"
                              role="button">Population Graph &raquo;</a></p>
                    </div>
                    <div class="col-md-6">
                        <p><a class="btn btn-primary btn-lg analysis-btn" href="/projects/diagrams/{{ project.ID }}" role="button">
                            Project Diagrams &raquo;</a>
                        </p>
                        {% if project.numLM > 0 %}
                        <p><a class="btn btn-primary btn-lg analysis-btn" href="/projects/{{ project.ID }}/managedInstances"
                              role="button">Managed Instances &raquo;</a>
                        </p>
                        {% else %}
                        <p><a class="btn btn-primary btn-lg disabled analysis-btn" role="button">
                            Managed Instances &raquo;</a>
                        </p>
                        {% endif %}
                        <p><a class="btn btn-primary btn-lg analysis-btn" href="/projects/{{ project.ID }}/configSystemInstances"
                              role="button">Config System Instances &raquo;</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h2>Locations</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Operations</th>
        </tr>
        </thead>
        <tbody>
        {% for location in project.locations %}
        <tr>
            <td><a href="/locations/view/{{ location.ID }}">{{ location.Name }}</a></td>
            <td>
                <input onclick="deleteLocation({{ project.ID }}, '{{ location.Name }}')" type="button" 
                        class="btn btn-default"
                        value="Delete"/>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <button data-target="#addLocationModal" data-toggle="modal" type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
    <!-- Modal -->
    <div class="modal fade" id="addLocationModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                    <h4 class="modal-title">Add Location to Project:</h4>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('addProjectLocation', projId=project.ID) }}" method="POST"
                          name="addLocation">
                        {{ locationForm.hidden_tag() }}
                        <p>
                            <br>
                            <label for="location">Location:</label>
                            <select class="form-control" id="location" multiple name="location">
                                {% for loc in locationForm.location.choices %}
                                <option value="{{loc}}">{{loc}}</option>
                                {% endfor %}
                            </select>
                            <br>
                        </p>
                        <div style="text-align: right"><input class="btn btn-primary" type="submit"
                                                              value="Add location"></div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container">
    <h2>Settings</h2>
    <div data-toggle="fieldset" id="option-fieldset">
        <form action="{{ url_for('createSetting', projId=project.ID) }}" method="POST" name="addSetting">
            <table class="table">
                <thead>
                <tr>
                    <th><label for="option_module">Name</label></th>
                    <th><label for="option_module_value">Value</label></th>
                    <th>Operations</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for setting in project.settings %}
                <tr>
                    {% if setting.name == "runnerType" %}
                    <td>{{ setting.name }}</td>
                    <td>
                        <select class="form-control" id="SettingValue-{{ setting.ID }}"
                                name="SettingValue-{{ setting.ID }}">
                            <option selected="selected">{{ setting.value }}</option>
                            {% for option in setting.options %}
                                <option value="{{ option }}">{{ option }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <input onclick="updateSetting({{ project.ID }}, {{ setting.ID }}, {{ loop.index }})"
                            type="button"
                            class="btn btn-default btn-sm"
                            value="Update"/>
                        <input id="deleteSetting{{ setting.name }}{{ project.ID }}"
                            onclick="deleteSetting({{ project.ID }}, {{ setting.ID }})" type="button"
                            class="btn btn-default btn-sm"
                            value="Delete"/>
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-ok" id="successIcon{{ loop.index }}"
                              style="visibility: hidden; color: #5cb85c"></span>
                        <span class="glyphicon glyphicon-remove" id="errorIcon{{ loop.index }}"
                              style="visibility: hidden; color: #d9534f"></span>
                    </td>
                    {% elif setting.name == "generatorTypes" %}
                    <td>{{ setting.name }}</td>
                    <td>
                        <div>{{ setting.value }}</div>
                    </td>
                    <td>
                        <input data-target="#updateGeneratorTypes" data-toggle="modal" type="button" 
                            class="btn btn-default btn-sm"
                            value="Update"/>
                        <input id="deleteSetting{{ setting.name }}{{ project.ID }}"
                            onclick="deleteSetting({{ project.ID }}, {{ setting.ID }})" type="button"
                            class="btn btn-default btn-sm"
                            value="Delete"/>
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-ok" id="successIcon{{ loop.index }}"
                              style="visibility: hidden; color: #5cb85c"></span>
                        <span class="glyphicon glyphicon-remove" id="errorIcon{{ loop.index }}"
                              style="visibility: hidden; color: #d9534f"></span>
                    </td>
                    <!-- generatorTypes Modal -->
                    <div class="modal fade" id="updateGeneratorTypes" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                                    <h4 class="modal-title">Update GeneratorTypes</h4>
                                </div>
                                <div class="modal-body">
                                    {% for typeId in setting.mutatorTypesIDs %}
                                    <div class="form-group">
                                        <label for="{{typeId}}">{{ typeId }}</label>
                                        <input class="form-control inputValidator" id="{{typeId}}" type="text">
                                    </div>
                                    {% endfor %}
                                    <div class="alert alert-danger" id="errorMessageOfMutator" style="display: none;">
                                        "Error! Values need to sum up to 100"
                                    </div>
                                    <div>
                                        <input class="btn btn-primary"
                                               onclick="updateTypeSetting({{ project.ID }}, {{ setting.ID }}, {{ setting.mutatorTypesIDs }}, 'mutator')"
                                               type="button"
                                               value="Update"/>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% elif setting.name == "evaluatorTypes" %}
                    <td>{{ setting.name }}</td>
                    <td>
                        <div>{{ setting.value }}</div>
                    </td>
                    <td>
                        <input data-target="#updateevaluatorTypes" data-toggle="modal" type="button" 
                            class="btn btn-default btn-sm"
                            value="Update"/>
                        <input id="deleteSetting{{ setting.name }}{{ project.ID }}"
                            onclick="deleteSetting({{ project.ID }}, {{ setting.ID }})" type="button"
                            class="btn btn-default btn-sm"
                            value="Delete"/>
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-ok" id="successIcon{{ loop.index }}"
                              style="visibility: hidden; color: #5cb85c"></span>
                        <span class="glyphicon glyphicon-remove" id="errorIcon{{ loop.index }}"
                              style="visibility: hidden; color: #d9534f"></span>
                    </td>
                    <!-- evaluatorTypes Modal -->
                    <div class="modal fade" id="updateevaluatorTypes" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                                    <h4 class="modal-title">Update evaluatorTypes</h4>
                                </div>
                                <div class="modal-body">
                                    {% for typeId in setting.evaluatorTypesIDs %}
                                    <div class="form-group">
                                        <label for="{{typeId}}">{{ typeId }}</label>
                                        <input class="form-control inputValidator" id="{{typeId}}" type="text">
                                    </div>
                                    {% endfor %}
                                    <div class="alert alert-danger" id="errorMessageOfEvaluator" style="display: none;">
                                        "Error! Values need to sum up to 100"
                                    </div>
                                    <div>
                                        <input class="btn btn-primary "
                                               onclick="updateTypeSetting({{ project.ID }}, {{ setting.ID }}, {{ setting.evaluatorTypesIDs }}, 'evaluator')"
                                               type="button"
                                               value="Update"/>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <td>{{ setting.name }}</td>
                    <td>
                        <input id="SettingValue-{{ setting.ID }}" 
                            class="form-control" 
                            type="text" 
                            value="{{ setting.value }}"/>
                    </td>
                    <td>
                        <input onclick="updateSetting({{ project.ID }}, {{ setting.ID }}, {{ loop.index }})"
                            type="button"
                            class="btn btn-default btn-sm"
                            value="Update"/>
                        <input id="deleteSetting{{ setting.name }}{{ project.ID }}"
                            onclick="deleteSetting({{ project.ID }}, {{ setting.ID }})" 
                            type="button"
                            class="btn btn-default btn-sm"
                            value="Delete"/>
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-ok" id="successIcon{{ loop.index }}"
                              style="visibility: hidden; color: #5cb85c"></span>
                        <span class="glyphicon glyphicon-remove" id="errorIcon{{ loop.index }}"
                              style="visibility: hidden; color: #d9534f"></span>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
                <tr data-toggle="fieldset-entryoption">
                    <td><input class="form-control" id="option_module" name="option_module" type="text"></td>
                    <td><input class="form-control" id="option_module_value" name="option_module_value" type="text">
                    </td>
                    <td>
                        <button data-toggle="fieldset-remove-rowoption" id="phone-removeoption" type="button"
                                type="button"><span class="glyphicon glyphicon-remove-circle"></span></button>
                    </td>
                </tr>
                </tbody>
            </table>
            {% if project.possibleSettingNames %}
            <div class="alert alert-success alert-dismissible" style="display: inline-block">
                <a aria-label="close" class="close" data-dismiss="alert" href="#">&times;</a>
                <strong>Suggested Settings:</strong>{% for settingName in project.possibleSettingNames %}
                {{settingName}}{% if loop.index != project.possibleSettingNames|length %}, {% endif %}{% endfor %}
            </div>
            {% endif %}
            <div class="row" style="margin-bottom: 40px">
                <div class="col-md-5">
                    <button data-target="#option-fieldset" data-toggle="fieldset-add-rowoption" type="button"><span
                            class="glyphicon glyphicon-plus"></span></button>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-2" style="text-align: center">
                    <input class="btn btn-primary" id="addSettings" type="submit" value="Add Settings"/>
                </div>
            </div>
        </form>
    </div>
</div> 

<div class="container">
    <h2>Target Modules</h2>
    <div>        
        <table class="table">
            <thead>
            <tr>
                <th><label>Name</label></th>
                <th><label>Path</label></th>
                <th>Operations</th>
            </tr>
            </thead>
            <tbody>
            {% for module in project.modules %}
            <tr>
                <td>{{ module.name }}</td>
                <td>{{ module.path }}</td>
                <td>
                    <input class="btn btn-default" id="deleteModule{{ module.name }}{{ project.ID }}"
                            onclick="deleteModule({{ project.ID }}, {{ module.ID }})" type="button"
                            value="Delete"/>
                    <input class="btn btn-default" id="setModuleBinary{{ module.name }}{{ project.ID }}"
                            data-target="#setModuleBinary{{ module.ID }}" data-toggle="modal" type="button"
                            value="Edit Module"/>
                </td>
            </tr>
            <!-- setModuleBinary Modal -->
            <div class="modal fade" id="setModuleBinary{{ module.ID }}" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal" type="button">&times;</button>
                            <h4 class="modal-title">Edit Module</h4>
                        </div>
                        <div class="modal-body">                                
                            <div class="form-group">
                                <form action="{{ url_for('setModuleBinaryAndPath', projId=project.ID, moduleId=module.ID) }}" enctype="multipart/form-data" method="POST" name="setModuleBinaryAndPath">
                                    <div>
                                        <label for="moduleName">Module Name:</label>
                                        <input type="text" class="form-control" name="moduleName" value="{{ module.name }}">
                                    </div>
                                    <div class="targetModuleMargin">
                                        <label for="modulePath">Module Path:</label>
                                        <input type="text" class="form-control" name="modulePath" value="{{ module.path }}">
                                    </div>                                                                        
                                    <input class="targetModuleMargin" name="moduleBinaryFile" type="file">
                                    <input class="btn btn-primary" type="submit" value="Save"/>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}                
            </tbody>
        </table>                        
        <form action="{{ url_for('createProjectModule', projId=project.ID) }}" enctype="multipart/form-data" method="POST" name="addModule">
            <div class="row" style="margin-bottom: 40px">
                <div class="col-md-4">
                    <p>Select Target Modules to add</p>
                    <input id="targetModules" multiple name="targetModules" type="file">
                </div> 
                <div class="col-md-7" style="text-align: right">
                    <input class="btn btn-primary" id="addTargetModules" type="submit" value="Add new Target Modules"/>
                </div>
                <div class="col-md-1"></div>
            </div>
        </form>
    </div>    
</div>

{% set glob = {} %}
{% for setting in project.settings %}
    {% if (setting.name == 'runnerType') and (setting.value == 'ALL_GDB') %} <!-- ALL_GDB coded in config.json -->
        {% set _ = glob.update({'width':'4', 'gdb':true}) %}
    {% endif %}
    {% if (setting.name == 'runnerType') and (setting.value != 'ALL_GDB') %} <!-- ALL_GDB coded in config.json -->
                {% set _ = glob.update({'width':'6', 'gdb':false}) %}
    {% endif %}
{% endfor %}

<div class="container">
    <div class="row">
        <div class="col-md-{{ glob.width }}" style="padding-bottom: 35px">
            <h2>Upload new Target <span class="glyphicon glyphicon-info-sign" data-placement="right" data-toggle="tooltip"
                                            style="font-size: 20px" title="This will only save the new *.zip file!"></span>
            </h2>
            <form action="{{ url_for('uploadNewTargetZip', projId=project.ID) }}" method="POST" enctype=multipart/form-data>
                <p>Upload new Target as *.zip file:</p>                
                <input name="uploadFile" type="file" required>
                <input class="btn btn-primary" type="submit" value="Upload" style="margin-top:15px"/>
            </form>
        </div>

        {% if glob.gdb %}
        <div class="col-md-4" style="padding-bottom: 35px">
            <h2>Upload new Basic Blocks for GDB <span class="glyphicon glyphicon-info-sign" data-placement="right" data-toggle="tooltip"
                                            style="font-size: 20px" title="Upload file with following style: 'module, offset'!"></span>
            </h2>
            <form action="{{ url_for('uploadNewBasicBlocks', projId=project.ID) }}" method="POST" enctype=multipart/form-data>
                <p>Upload new BasicBlocks for GDB as *.txt or *.csv file:</p>
                <input name="uploadFile" type="file" required>
                <input class="btn btn-primary" type="submit" value="Upload" style="margin-top:15px"/>
            </form>
        </div>
        {% endif %}

        <div class="col-md-{{ glob.width }}" style="padding-bottom: 35px">
            <h2>Reset Fuzzjob <span class="glyphicon glyphicon-info-sign" data-placement="right" data-toggle="tooltip"
                                    style="font-size: 20px" title="Clears all tables except Settings and Target Modules"></span>
            </h2>
            <form action="{{ url_for('resetFuzzjob', projId=project.ID) }}" method="POST" name="resetFuzzjob">
                <div class="checkbox">
                    <label><input name="deletePopulation" type="checkbox" value="delete">Delete Population</label>
                </div>
                <input class="btn btn-primary" type="submit" value="Reset Fuzzjob"/>
            </form>
        
        </div>
    </div>
</div>

{% endblock %}

