<!--
Copyright 2017-2019 Siemens AG

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

Author(s): Junes Najah, Michael Kraus, Thomas Riedmaier, Pascal Eckmann
-->

{% extends "base.html" %}
{% block title %}FLUFFI - Fuzzjobs - {{ managedInstances['project'].name[:30] }} - Managed Instances{% endblock %}

{% block scripts  %}
<script src="{{ url_for('static', filename = 'javascript/tooltip.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename = 'javascript/renamer.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename = 'javascript/pagination.js') }}" type="text/javascript"></script>
{{super()}}
{% endblock %}

{% block content %}

<div class="container">
    <h1><a href="/projects/view/{{managedInstances['project'].ID}}">Managed Instances: {{
        managedInstances['project'].name[:30] }}</a></h1>
</div>

<hr>
<div class="jumbotron">
    <div class="container"></div>
</div>

<br>

<div class="container">
    <div class="col-md-3">
        <p><a class="btn btn-default btn-lg kill" href="/projects/{{managedInstances['project'].ID}}/killInstanceType/4"
              role="button">Kill All Instances &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <p><a class="btn btn-default btn-lg kill" href="/projects/{{managedInstances['project'].ID}}/killInstanceType/0"
              role="button">Kill All Generators &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <p><a class="btn btn-default btn-lg kill" href="/projects/{{managedInstances['project'].ID}}/killInstanceType/1"
              role="button">Kill All Runners &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <p><a class="btn btn-default btn-lg kill" href="/projects/{{managedInstances['project'].ID}}/killInstanceType/2"
              role="button">Kill All Evaluators &raquo;</a></p>
    </div>
</div>

<br>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th style="text-align: center;">GUID</th>
            <th style="text-align: center;">Host:Port</th>
            <th style="text-align: center;">Type</th>
            <th style="text-align: center;">Location</th>
            <th style="text-align: center;">Log Message</th>
            <th style="text-align: center;">SysCPU</th>
            <th style="text-align: center;">ProcCPU</th>
            <th style="text-align: center;">AverageRTT</th>
            <th style="text-align: center;"><span class="glyphicon glyphicon-list-alt hasTooltip"><span>QueueSize</span></span>
            </th>
            <th style="text-align: center;"><span
                    class="glyphicon glyphicon-stats hasTooltip"><span>Evaluator QueueSize</span></span></th>
            <th style="text-align: center;"><span class="glyphicon glyphicon-hourglass hasTooltip"><span>TC´s Without Response</span></span>
            </th>
            <th style="text-align: center;"><span
                    class="glyphicon glyphicon-dashboard hasTooltip"><span>TC´s Per Second</span></span></th>
            <th style="text-align: center;"><span
                    class="glyphicon glyphicon-trash hasTooltip"><span>Kill Instance</span></span></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="font-weight: bold">Summary</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align: center;">{{ summarySection['AverageRTT'] }}</td>
            <td style="text-align: center;">{{ summarySection['SumOfTestCasesQueueSize'] }}</td>
            <td style="text-align: center;">{{ summarySection['SumOfTestEvaluationsQueueSize'] }}</td>
            <td style="text-align: center;">{{ summarySection['SumOfTestCasesWithoutResponse'] }}</td>
            <td style="text-align: center;">{{ summarySection['SumOfTestcasesPerSecond'] }}</td>
            <td></td>
        </tr>
        <!-- List local managers -->
        {% for localManager in localManagers %}
        <tr>
            <td style="text-align: center;">{{ localManager['ServiceDescriptorGUID'] }}</td>
            <td style="text-align: center;">{{ localManager['ServiceDescriptorHostAndPort'] }}</td>
            <td style="text-align: center;">Local Manager</td>
            <td style="text-align: center;"></td>
            <td style="text-align: center;"></td>
            <td style="text-align: center;"></td>
            <td style="text-align: center;"></td>
            <td style="text-align: center;"></td>
            <td style="text-align: center;"></td>
            <td style="text-align: center;"></td>
            <td style="text-align: center;"></td>
            <td style="text-align: center;"></td>
            {% if localManager["kill"] == 1 %}
            <td style="text-align: center;"><a><span class="glyphicon glyphicon-alert"></span></a></td>
            {% else %}
            <td style="text-align: center;">
                <a href="/projects/{{managedInstances['project'].ID}}/killInstance/localManager/{{ localManager['ServiceDescriptorGUID'] }}/{{ localManager['ServiceDescriptorHostAndPort'] }}">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}

        <!-- List managed instances -->
        {% for instance in managedInstances["instances"] %}
        <tr {% if instance["AgentType"] == 1 %} 
                bgcolor="#F8E0E0" 
            {% elif instance["AgentType"] == 2 %} 
                bgcolor="#F7F8E0" 
            {% else %}
                bgcolor="#E0ECF8" 
            {% endif %} >
        <td style="text-align: center;">
            {% if instance["NiceName"] %}
            <button id="tcBtn{{loop.index}}"
                    onclick="addOrRenameNiceName({{ loop.index }}, {{ managedInstances['project'].ID }}, 'update', '', '{{ instance['ServiceDescriptorGUID'] }}')"
                    class="add-or-rename-btn">
                {{ instance['NiceName'] }}
            </button>
            <input class="form-control" id="tcInput{{loop.index}}" style="display: none;" type="text">
            {% else %}
            <button id="tcBtnNew{{loop.index}}"
                    onclick="addOrRenameNiceName({{ loop.index }}, {{ managedInstances['project'].ID }}, 'insert', '', '{{ instance['ServiceDescriptorGUID'] }}')"
                    class="add-or-rename-btn">
                {{ instance['ServiceDescriptorGUID'] }}
            </button>
            <input class="form-control" id="tcInputNew{{loop.index}}" style="display: none;" type="text">
            {% endif %}

        </td>
        <td style="text-align: center;">{{ instance["ServiceDescriptorHostAndPort"] }}</td>
        {% if instance["AgentType"] == 1 %}
        <td style="text-align: center;">Runner</td>
        {% elif instance["AgentType"] == 2 %}
        <td style="text-align: center;">Evaluator</td>
        {% else %}
        <td style="text-align: center;">Generator</td>
        <!-- LM: agent type 3 -->
        {% endif %}
        <td style="text-align: center;">{{ instance["Location"] }}</td>
        <td style="text-align: center;"><a href="#" data-target="#logMessages{{loop.index}}" data-toggle="modal">Log Message(s)</a></td>
        <td style="text-align: center;">{{ instance["SysCPUUtil"] }}</td>
        <td style="text-align: center;">{{ instance["ProcCPUUtil"] }}</td>
        <td style="text-align: center;">{{ instance["AverageRTT"] }}</td>
        <td style="text-align: center;">{{ instance["TestCasesQueueSize"] }}</td>
        <td style="text-align: center;">{{ instance["TestEvaluationsQueueSize"] }}</td>
        <td style="text-align: center;">{{ instance["TestCasesWithoutResponse"] }}</td>
        <td style="text-align: center;">{{ instance["TestcasesPerSecond"] }}</td>
        {% if instance["kill"] == 1 %}
        <td style="text-align: center;"><a><span class="glyphicon glyphicon-alert"></span></a></td>
        {% else %}
        <td style="text-align: center;"><a class="btn btn-secondary"
                                           href="/projects/{{ managedInstances['project'].ID }}/killInstance/{{ instance['ServiceDescriptorGUID'] }}"
                                           role="button"><span class="glyphicon glyphicon-remove"></span></a></td>
        {% endif %}
        </tr>

        <!-- Modal -->
        <div class="modal fade" id="logMessages{{loop.index}}" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div id="buildLogs{{loop.index}}"></div>
                        <div style="text-align: center;"><ul class="pagination" id="buildLinks{{loop.index}}"></ul></div>                        
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <script>$(document).ready(function(){loadPagination({{ managedInstances['project'].ID }}, {{ instance['ServiceDescriptorGUID'] }}, {{loop.index}});});</script>  
        {% endfor %}

        </tbody>
    </table>      
</div>

{% endblock %}
