<!--
Copyright 2017-2020 Siemens AG

Permission is hereby granted, free of charge, to any person obtaining a
copy of this software and associated documentation files (the
"Software"), to deal in the Software without restriction, including without
limitation the rights to use, copy, modify, merge, publish, distribute,
sublicense, and/or sell copies of the Software, and to permit persons to whom the
Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be
included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT
SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR
OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE,
ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
DEALINGS IN THE SOFTWARE.

Author(s): Pascal Eckmann, Junes Najah, Thomas Riedmaier
-->

{% extends "base.html" %}
{% block title %}FLUFFI - Fuzzjobs - {{ data.project.name }} - {{ data.name }}{% endblock %}

{% block scripts  %}
<script src="{{ url_for('static', filename = 'javascript/tooltip.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename = 'javascript/renamer.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename = 'javascript/tcTemplate.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename = 'javascript/hexdump.js') }}" type="text/javascript"></script>

<script>
    $( document ).ready(function() {
        if({{actual_page}} && {{page_count}}){
            addPages({{actual_page}}, {{page_count}});
        }
    });
</script>

{{super()}}
{% endblock %}

{% block content %}

<div class="container">
    <h1><a href="/projects/view/{{data.project.ID}}">{{ data.name }} details: {{ data.project.name }}</a></h1>
</div>
<div class="container">
    {{ flashMessages() }}
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 tc_view_center">
            {% if data.name == "Population" %}
            <form action="{{ url_for('addTestcase', projId=data.project.ID) }}" enctype="multipart/form-data"
                  method="POST">
                <div class="form-group">
                    <input class="form-control-file" id="addTestcase" multiple name="addTestcase" type="file">
                    <input class="btn btn-default" style="margin-top: 10px; float: right;" type="submit" value="Add Testcase(s)"/>
                </div>
            </form>
            {% endif %}
        </div>
        <div class="col-md-6 tc_view_center">
            <a class="btn btn-primary tc_view_center_child" href="{{ url_for(data.downloadName, projId=data.project.ID) }}" role="button">Download {{ data.name }}</a>
        </div>
    </div>
    <hr>
    <div class="pages_box">
        <div class="pages"></div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>
                {% if show_occurences %}
                CrashFootprint
                {% else %}
                <div data-placement="left" data-toggle="tooltip"
                     title="To add or update a nice name just click on it, type and press enter">
                    ID / Nice Name
                </div>
                {% endif %}
            </th>
            {% if show_rating %}
            <th>Rating</th>
            {% endif %}
            {% if show_occurences %}
            <th>Occurences</th>
            {% endif %}
            <th>Time Of Insertion</th>
            <th>Operations</th>
        </tr>
        </thead>
        <tbody>
        {% for testcase in data.testcases %}
        <tr>
            <td>{% if testcase.footprint %}
                {{ testcase.footprint }}
                {% else %}
                    {% if testcase.triggerInsert %}
                    <button id="tcBtnNew{{loop.index}}"
                            onclick="addOrRenameNiceName({{ loop.index }}, {{ data.project.ID }}, 'insert', '{{ testcase.ID.split(':')[0] }}', '{{ testcase.ID.split(':')[1] }}', '')"
                            class="btn-desgin">
                        {{ testcase.niceName }}
                    </button>
                    <input class="form-control" id="tcInputNew{{loop.index}}" style="display: none;" type="text">
                    {% else %}
                    <button id="tcBtn{{loop.index}}"
                            onclick="addOrRenameNiceName({{ loop.index }}, {{ data.project.ID }}, 'update', '{{ testcase.ID.split(':')[0] }}', '{{ testcase.ID.split(':')[1] }}', '')"
                            class="btn-desgin">
                        {{ testcase.niceName }}
                    </button>
                    <input class="form-control" id="tcInput{{loop.index}}" style="display: none;" type="text">                    
                    {% endif %}
                {% endif %}
            </td>
            {% if show_rating or show_occurences %}
            <td>{{ testcase.rating }}</td>
            {% endif %}
            <td>{{ testcase.timeOfInsertion | default('', True) }}</td>
            <td>
                <button class="btn btn-default btn-desgin" data-target="#modalHexDump{{loop.index}}" data-toggle="modal" type="button" onclick="loadHexdump( {{ data.project.ID }}, {{ testcase.testcaseID }}, {{loop.index}}, 'single' )">
                    <span class="glyphicon glyphicon-sunglasses"></span>
                </button>
                <button class="btn btn-default btn-desgin" onclick="deleteTestcase('{{ testcase.ID }}', '{{ data.redirect }}')"
                        type="button">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <button class="btn btn-default btn-desgin" type="button">
                    <a href="/projects/{{ data.project.ID }}/getTestcase/{{ testcase.ID }}"><span
                            class="glyphicon glyphicon-download-alt"></span></a>
                </button>
            </td>
        </tr>

        <div class="modal fade" id="modalHexDump{{loop.index}}" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        {{ testcase.niceName }}
                    </div>
                    <div class="modal-body">
                        <div style="text-align: center;"><div class="modal-loader" style="display: none;"></div></div>
                        <div id="buildHexdump{{loop.index}}"></div>
                        <div style="text-align: center;"><ul class="pagination" id="buildLinks{{loop.index}}"></ul></div>
                        <div id="jumpPagination{{loop.index}}">
                            <label for="offsetInput{{loop.index}}">Go to offset:</label>
                            <input class="form-control offset{{loop.index}}" onkeydown="jumpToOffset({{ data.project.ID }}, {{ testcase.testcaseID }}, {{loop.index}}, this, this.getAttribute('mode'))" mode="single" type="text" id="offsetInput{{loop.index}}" name="offset" placeholder="Offset">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
        </tbody>
    </table>

    <hr>
    <div class="pages_box">
        <div class="pages"></div>
    </div>
</div>

{% endblock %}

